# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Data
# =========================

# Uploaded documents
data/uploads/

# Processed files
data/processed/

# Large datasets
data/default_dataset/

# Wikipedia dataset
data/raw/wikipedia_dataset/
data/raw/wikipedia_dataset/1of2/
data/raw/wikipedia_dataset/2of2/
data/raw/wikipedia_dataset/AllCombined.txt

# Generated vector database
vector_store/
data/vector_store/

# Models
models/

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.temp

# =========================
# Build
# =========================
build/
dist/
*.egg-info/


# =========================
# Node.js
# =========================
node_modules/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db